<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="family letter">
    <meta name="author" content="">
    <title>家书抵万金</title>
    <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="http://www.greendoorgourmet.com/wp-content/uploads/family1.png">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link href="/style.css" rel="stylesheet" type="text/css">

    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
</head>

<body>

    <div class="container-fluid">
  <div class="row">


<div class="col-md-3">


        <div class="post-it-note"> 
            <h2> 给家人写信 </h2>
            <br>
            <p style="font-size:16px"> 使用说明: <br>选择一个人. 写上你想对他/她说的话，然后点击发送。 <br>点击自己的头像到自己主页</p>
            <br>
            <p style="font-size:12px">家庭信件网站，版权归其所有</p>
        </div>
\


        <img class="img-responsive" src="/group5.jpeg">

</div>   




<div class="col-md-6">


    <img  class="img-responsive home-pic" src="/home.jpg" width="80%";>


   <!--  <div id="home-container" class="sticky-form">
 -->
      <form action="/submit" method="POST" class="envelope">
    <!--     id="form_one" -->

        <div class="form-group form-background">

         <p class="mail-btn"> 亲爱的 </p> 

         <select name="recipient" class="form-group mail-input">
            <option value="" disabled selected>点击我选择</option>
            <option value="儿子">儿子,</option>
            <option value="爸爸">爸爸,</option>
            <option value="妈妈">妈妈,</option>
            <option value="舅舅">舅舅,</option>
            <option value="姨奶">姨奶,</option>


        </select> <br />


        <textarea name="text" form="form_one" class="form-group mail-btn"></textarea>
        <br />

        <div id="signature">
            <p class="mail-btn">健康，幸福, </p>
            <br />


        <select name="author" class="sender form-group mail-input">
            <option value="" disabled selected>点击我选择</option>
            <option value="儿子">儿子</option>
            <option value="爸爸">爸爸</option>
            <option value="妈妈">妈妈</option>
            <option value="舅舅">舅舅</option>
            <option value="姨奶">姨奶</option>


        </select>

        </div>

        <input class="form-group mail-btn" type="submit" value="发送" style=" float: right; margin-right:5px" />



</div>
    </form>
<!-- </div> -->

</div>


<div class="col-md-3 family-profile">

<a href="/儿子">
  <img src="/1.jpg" class="profile-img morph img-responsive">
  <div class="profile-text">
    <h1 class="profile-name">儿子</h1>
    <span class="profile-title">儿子</span>
  </div>
</a>


<a href="/爸爸">
    <img src="/2.jpg"  class="profile-img morph img-responsive">
  <div class="profile-text">
    <h1 class="profile-name">爸爸</h1>
    <span class="profile-title">爸爸</span>
  </div>
</a>


<a href="/妈妈">
    <img src="/3.jpg"  class="profile-img morph img-responsive">
  <div class="profile-text">
    <h1 class="profile-name">妈妈</h1>
    <span class="profile-title">妈妈</span>
  </div>
</a>


   
</div>

</body>

</html>
