<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="family letter">
    <meta name="author" content="Shengwei Zhao">
    <title>家书抵万金</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link href="/style.css" rel="stylesheet" type="text/css">
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
</head>

<body>


    <div>
        <div class="home-sticky instructions"> 
            <h1> 给家人写信 </h1>
            <p style="font-size:16px"> 使用说明: <br>选择一个人. 写上你想对他/她说的话，然后点击发送。 <br>点击自己的头像到自己主页</p>
            <br>
            <p style="font-size:12px">赵生伟的家庭信件网站，版权归其所有</p>
        </div>
    </div>


    <div class="home-pic tilt">
    <img  src="/group7.jpeg" width="33%";>
    </div>  

    <div class="home-sticky picture2" style="position:absolute; left:0px; top:300px"> 
</div>         


    <div id="home-container" class="home-sticky sticky-form">


      <form action="/submit" method="POST" id="form_one">

         <p> 亲爱的 </p> 

         <select name="recipient">
            <option value="" disabled selected>点击我选择</option>
            <option value="赵生伟">赵生伟,</option>
            <option value="爸爸">爸爸,</option>
            <option value="妈妈">妈妈,</option>
            <option value="舅舅">舅舅,</option>
            <option value="姨奶">姨奶,</option>


        </select> <br />


        <textarea name="text" form="form_one" id="textarea"></textarea>
        <br />

        <div id="signature">
            健康，幸福, 
            <br />


        <select name="author" class="sender">
            <option value="" disabled selected>点击我选择</option>
            <option value="赵生伟">赵生伟</option>
            <option value="爸爸">爸爸</option>
            <option value="妈妈">妈妈</option>
            <option value="舅舅">舅舅</option>
            <option value="姨奶">姨奶</option>


        </select>

        </div>

        <input class="submit" type="submit" value="发送" />


    </form>
</div>


<div class="persons">
  <ul >
    <li>
    <a href="/赵生伟">
      <img  class="morph" src="/1.jpg">
      <h3>赵生伟</h3>
      <p>儿子</p>
    </a>
    </li>
       
    <li>
    <a href="/爸爸">
      <img class="morph" src="/2.jpg">
      <h3>赵福祥</h3>
       <p>爸爸</p>
    </a>
    </li>
 
    <li>
    <a href="/妈妈">
      <img  class="morph" src="/3.jpg">
      <h3>季龙珠</h3>
       <p>妈妈</p>
    </a>
    </li>
 
  </ul>
</div>
<!-- 

<div class="home-sticky picture2"> 
</div> -->

</body>

</html>