<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href="/style.css" rel="stylesheet" type="text/css">
 
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  

    <title>家书抵万金</title>


  </head>

  <body>


<div id="container">


    <% fuzzies.forEach(function(fuzzy, index){ %>
  
              <div class="sticky">
                    <p> 亲爱的 <span style="font-style: italic;"> <%= fuzzy.recipient %></span>, </p>
                    <br />

                    <p> <%= fuzzy.text %>  </p> <br />

                    <div class="sticky-signature">
                      <p> 健康，幸福, </p> 
                      <br />
                      <p> <span style="font-style: italic;"><%= fuzzy.author %> </span></p>
                      <p style="font-size:10px"><%=fuzzy.submittedAt%></P>
                    </div>

               </div>


        <% }); %> 
  </div>

  </body>


  </html>