html,
body {
/*  height: 100%;*/
  /* The html and body elements cannot have any padding or margin. */
  margin:0;
  padding:0;
  background-image: url('cork.jpg');

}

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/BebasNeue.ttf');
}

#banner {
  margin: 0;
  padding-bottom: 0px;
  padding-top: 0px;
  width: 100%;
}

#banner h1, h2, p {
	margin: 0px;
}

#banner h1 {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#banner img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: ;
}

.home-pic{

	margin-left: 10px;
	margin-top: 5px;
	padding: 15px;
	position: relative;
	left: 50px;

}

.tilt {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.tilt:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}


/*MORPH*/
.morph {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.morph:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.picture {
	background-image: url("group7.jpeg");
	background-size: contain;
	background-repeat: no-repeat;
	background-color: black;
	background-position: center;
}

.post-it-note {
  padding: 2em;
  background: #ffd707;
  position: relative;
  min-height: 10em;
  margin-top: 20px;
  margin-bottom: 20px;
}

.post-it-note:after {
  content: "";
  position: absolute;
  bottom: -2em;
  left: 0;
  right: 2em;
  border-width: 1em;
  border-style: solid;
  border-color: #ffd707;
}

.post-it-note:before {
  content: "";
  position: absolute;
  bottom: -2em;
  right: 0;
  border-width: 2em 2em 0 0;
  border-style: solid;
  border-color: #d3b100 transparent;
}


.picture2 {
	margin-top: 0px;
	background-image: url("group5.jpeg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: black;
	background-position: center;
}

textarea {

	width: 80%;
	height: 280px;
	margin-left: 13%;
	margin-top: 20px; 
	outline: none;
	padding: 10px;
	font-size: 16px;
/*    background-image: url('pink.png');*/
	border-radius: 5px;
	overflow: auto;
}


#home-container {
	margin-top: -5px;
	margin-bottom: 10px;
	margin-right: auto;
	padding-top: 0px; 
	width: 600px;
	height: 420px;
	margin-left: 0px;
	

}

#home-container p {
	display: inline-block;
}

.sticky-form {
  background-image: url('pink.png');

}

form {
	font-family: 'Pacifico';
	margin: 0px;
 /* background-image: url('pink.png');*/
	padding: 0px;
}

.form-background{
	 background:#2980b9;
	 z-index: 9999;
	 overflow-x:hidden;
}

#container {
	font-size: 32px;
	padding: 40px;
   background-image: url('cork.jpg');
   height: 100%;
}

#container p {
	display: inline-block;

}

 #container .sticky:nth-child(even){
  background-image: url('pink.png');
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size: 22px;
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
}
 #container .sticky:nth-child(odd){
   font-family: 'Pacifico';
  background-color: #FCF0AD;
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
}
 #container .sticky:nth-child(5n){
 background-color: #56C4E8;
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}


 #container .sticky:nth-child(8n){
 background-color: #56E862;
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}


.sticky {
	width: 225px;
	overflow: hidden;
	margin-left: 20px;
	margin-top: 10px;
	font-size: 18px;
	font-weight: 100;
	padding: 15px;
	display: inline-block;
	border-radius: 2px;
	float: left;
	 -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
 	 -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
 	 box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

#signature {
	font-family: 'Pacifico';
	margin-left: 35%;
	display: inline-block;
}

.sticky-signature {
	margin-top: 20px;
	margin-left: 100px;
}

select {
	border: 0;
	-webkit-appearance: none;
	padding: 4px;
  	font-size: 16px;
	font-family: 'Pacifico';
}

.sender{



	margin-left: 75px;
	margin-right: 0px;
	margin-top: 5px;
}


.persons {

  margin: 23px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: darkorange; 

}

.persons a{
	text-decoration:none
}

.persons a:hover{
	color:blue;
}
 
ul {
  list-style-type: none;
  width: 250px;
}
 
h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}
 
li img {
  float: left;
  margin: 0 15px 0 0;
  width:120px;
  height:130px;
}
 
li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
  color: blue;
}
 
li {
  padding: 10px;
  overflow: auto;
}
 
li:hover {
  background: #eee;
  cursor: pointer;
}

.mail-btn {
/*  position:relative;
  top:35%;*/
  display:inline-block;
  padding:0.5rem 1rem;
  border:2px solid rgba(255,255,255,0.5);
  background:none;
  outline:none;
  -webkit-appearance: none;
  font-size:2rem;
  color:rgba(255,255,255,1);
  text-decoration:none;
  text-transform:uppercase;
  letter-spacing:0.2rem;
  text-indent:0.5rem;
/*  cursor:pointer;*/
  -webkit-transition:
    color 1.5s .5s,
    border 3s 1s;
          transition:
    color 1.5s .5s,
    border 3s 1s;
  
}


.mail-input {

  position:relative;
  top:35%;
  display:inline-block;
  padding:0.5rem 1rem;
/*  border:0px solid rgba(255,255,255,0.5);*/
  border-bottom: 2px solid rgba(255,255,255,0.5);
  background:none;
  outline:none;
  -webkit-appearance: none;
  font-size:2rem;
  color:rgba(255,255,255,1);
  text-decoration:none;
  text-transform:uppercase;
  letter-spacing:0.5rem;
  text-indent:0.5rem;
  cursor:pointer;
  -webkit-transition:
    color 1.5s .5s,
    border 3s 1s;
          transition:
    color 1.5s .5s,
    border 3s 1s;
  
}
/***** Form as airmail envelope *****/

.envelope {
/*	width: 646px;*/
	padding: 15px;
	margin: 0 auto;
	position: relative;
	background-color: #f5f5f5;
	background-image: -webkit-gradient(linear, left top, right bottom, 
										   color-stop(5%, transparent), color-stop(5%, #ed5737),
	                                       color-stop(15%, #ed5737), color-stop(15%, transparent),
	                                       color-stop(25%, transparent), color-stop(25%, #2f57b7),
	                                       color-stop(35%, #2f57b7), color-stop(35%, transparent),
	                                       color-stop(45%, transparent), color-stop(45%, #ed5737),
	                                       color-stop(55%, #ed5737), color-stop(55%, transparent),
	                                       color-stop(65%, transparent), color-stop(65%, #2f57b7),
	                                       color-stop(75%, #2f57b7), color-stop(75%, transparent),
	                                       color-stop(85%, transparent), color-stop(85%, #ed5737),
	                                       color-stop(95%, #ed5737), color-stop(95%, transparent));
	background-image: -webkit-repeating-linear-gradient(135deg, #ed5737 0, #ed5737 50px, transparent 50px, transparent 80px, #2f57b7 80px, #2f57b7 130px, transparent 130px, transparent 160px);
	background-image:    -moz-repeating-linear-gradient(135deg, #ed5737 0, #ed5737 50px, transparent 50px, transparent 80px, #2f57b7 80px, #2f57b7 130px, transparent 130px, transparent 160px);
	background-image:     -ms-repeating-linear-gradient(135deg, #ed5737 0, #ed5737 50px, transparent 50px, transparent 80px, #2f57b7 80px, #2f57b7 130px, transparent 130px, transparent 160px);
	background-image:      -o-repeating-linear-gradient(135deg, #ed5737 0, #ed5737 50px, transparent 50px, transparent 80px, #2f57b7 80px, #2f57b7 130px, transparent 130px, transparent 160px);
	background-image:         repeating-linear-gradient(135deg, #ed5737 0, #ed5737 50px, transparent 50px, transparent 80px, #2f57b7 80px, #2f57b7 130px, transparent 130px, transparent 160px);
	-pie-background:          linear-gradient(135deg, 
										   #f5f5f5 5%,  #ed5737 5%,
	                                       #ed5737 15%, #f5f5f5 15%,
	                                       #f5f5f5 25%, #2f57b7 25%,
	                                       #2f57b7 35%, #f5f5f5 35%,
	                                       #f5f5f5 45%, #ed5737 45%,
	                                       #ed5737 55%, #f5f5f5 55%,
	                                       #f5f5f5 65%, #2f57b7 65%,
	                                       #2f57b7 75%, #f5f5f5 75%,
	                                       #f5f5f5 85%, #ed5737 85%,
	                                       #ed5737 95%, #f5f5f5 95%);
	-moz-box-shadow:    0 12px 5px -12px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0 12px 5px -12px rgba(0, 0, 0, 0.7);
	box-shadow:         0 12px 5px -12px rgba(0, 0, 0, 0.7);
	behavior: url(PIE.htc);

}

.envelope {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.envelope:before {
	content: '';
	position: absolute;
	z-index: -1;
	right: 10px;
	bottom: 15px;
	width: 350px;
	height: 10px;
	-moz-box-shadow:    0px 15px 15px rgba(0, 0, 0, 0.9);
	-webkit-box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.9);
	box-shadow:         0px 15px 15px rgba(0, 0, 0, 0.9);
	-moz-transform:    rotate(4deg) skew(4deg);
	-webkit-transform: rotate(4deg) skew(4deg);
	-o-transform:      rotate(4deg) skew(4deg);
	-ms-transform:     rotate(4deg) skew(4deg);
	transform:         rotate(4deg) skew(4deg);
}

.envelope.nolabel {
	margin: 40px auto;
}

.envelope .form-inner {
	overflow: hidden;
	padding: 40px 20px;
	background-color: #f5f5f5;
}

.envelope .column:first-of-type {
	float: left;
	position: relative;
}

.envelope .column:last-of-type {
	float: right;
	margin: 0 0 20px 40px;
}

.envelope .form-input {
	width: 795px;
	border: 5px solid #ebebeb;
	position: relative;
}

.envelope textarea.form-input {
	width: 795px; 
	position: relative;
	margin-bottom: 0;
}

.envelope .form-btn {
	clear: both;
	float: right;
}



.profile-img {
  display: block;
  height: 7em;
  margin-right: auto;
  margin-left: auto;
  border: .5em solid #f2f2f2;
  border-radius: 100%;
  box-shadow:  0 1px 0 0 rgba(0,0,0,.1);
}

.profile-text {
  margin-top: -5.5em;
  padding: 5em 1.5em 1.5em 1.5em; 
  background: white;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1)
}

.profile-name{
  margin-right: -1em;
  margin-bottom: .75em;
  margin-left: -1em;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: .75em;
  font-size: 1.5em;
  text-transform: uppercase;
}

.profile-title {
  color: #ccc;
}

.family-profile{
	text-align: center;
	 width: 230px;
	 padding-left: 55px;
	 padding-right: 0px;
}